.container-home{
    .container-home-content{
        margin-top: 50px;
    }
    .container-home-img{
        margin-top: 50px;
        .container-home-img-photo{
            width: 700px;
        }
    }
}