.container-list-todo{
    width: 700px;
    background-color: #151a30;
    margin: 0 auto;
    padding: 50px 0;
    border-radius: 10px;
    .add-todo{
        margin-bottom: 20px;
        .add-todo__input{
            border: 2px solid #632ed4;
            background-color: transparent;
            padding: 5px ;
            color: white;
            outline: none;
            width: 40vh;
            margin-bottom: 10px;
        }
        .add-todo__btn{
            border: 2px solid #9133ff;
            background-image: linear-gradient(-180deg,#9d2af9, #6912ff,);
            color: white;
            padding: 5px 15px ;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .list-content{
        color: black;
        width: 500px;
        margin: 0 auto;
        .list-content__child{
            margin: 5px 0;
            border: 1px solid grey;
            padding: 10px 10px;
            border-radius: 2px;
            background-color: #f4cb95   ;
            display: flex;
            justify-content: space-between;
            &:hover{
                border: 2px solid;
                border-image-slice: 1;
                border-width: 3px;
                // background-image: linear-gradient(to right bottom, red, yellow);
                border-image-source: linear-gradient(to left, #743ad5, #d53a9d);   
            }
            .list-content__child-text{

            }
            .list-content__child-btn{
                display: inline-block;
                .list-content__child-btn-hover{
                    &:hover{
                        cursor: pointer;
                    }
                }
                .list-content__child-btn-edit{
                    color: #006400;
                    }
                }
                .list-content__child-btn-delete{
                    margin-left: 10px;
                    color: #DC143C
                }
            }
        }
    }